<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

<h2>Stats</h2>

<p>
  Received {{ num_messages }} messages:
  <ul>
  {% for type, count in from_type_messages.items() %}
    <li> {{ count }} from {{ type }}
  {% endfor %}
  </ul>
</p>

<h2>Details</h2>

<table>
  <tr>
    <th>Hex</th>
    <th>Received</th>
    <th>Transmitted</th>
    <th>Last seen</th>
    <th>ADSB</th>
  <tr>

  {% for hex_code, hex_stats in sorted_stats_map %}
  <tr>
    <td><a href="/hex/{{ hex_code }}">{{ hex_code }}</a></td>
    <td>{{ hex_stats.num_rx }}</td>
    <td>{{ hex_stats.num_tx }}</td>
    <td>{{ hex_stats.last }}</td>
    <td>
      <a href="https://globe.adsbexchange.com/?icao={{ hex_code }}" target="_blank">
        adsbx
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
